<h1><%=sondaggio.nome%></h1>

<% var numA = 0; var numR = 0; %>

<form action="/Sondaggio/salvaRisposte" method="POST">
  <input type="hidden" name="id" value="<%=sondaggio.id%>"/>
  <%sondaggio.argomenti.forEach(function(arg) {%>
    <div>
      Argomento:<%=arg.nome%><br>
      <%arg.domande.forEach(function(dom){%>
        <label><%=dom.testo%></label><br>
        <%dom.risposte.forEach(function(ris){%>
          <input type="radio" name="risposta<%=+numA%>_<%=+numR%>" value="<%=ris.id%>"/><%=ris.testo%><br>
        <%});%><br>
      <%numR++;%>
      <%});%>
    </div>
  <% numA++; numR=0; });%>
  <input type="submit" value="Concludi"/>
</form>
