<h1>Lista sondaggi creati</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Data creazione</th>
    <th>Pubblicato</th>
    <th></th>
    <th></th>
  </tr>

  <%list.forEach(function (sondaggio) {%>
  <tr>
    <td><%=sondaggio.nome%></td>
    <td><%=sondaggio.createdAt%></td>
    <td><%=sondaggio.bozza?"No":"Si"%></td>
    <td><a href="/Sondaggio/riepilogo?id=<%=sondaggio.id%>"><button type="button">modifica</button></a> </td>
    <td>
      <form action="/Sondaggio/pubblicaSondaggio" method="post">
        <input type="hidden" value="<%=sondaggio.id%>" name="id">
        <input type="button" value="pubblica">
      </form>
    </td>
  </tr>
  <%});%>
</table><br>
<a href="/Sondaggio/new"><button type="button">Nuovo sondaggio</button></a>
